.text-small {
  font-size: .85rem;
}

.secondary-btn {
  background: #66869e;
  color: white;
  border: none;
  padding: .3em 1.75em;
  transition: .2s all ease;
}

.secondary-btn:hover {
    background: rgb(84, 109, 118);
}

.secondary-btn:disabled {
  background: #d9e6f4;
  color: #a7c0d8;
}

.container-center-content {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.company-wink-wink {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.form-textarea {
  color: red;
  border: 1px solid black;
  padding: .5em;
  margin: .5em;
  line-height: 1em;
  font-size: .75em;
}