.routine-wrapper,
.challenge-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 1em 0;
}

.routine-preview-wrapper {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
}

.title-text-wrapper {
    width: 100%;
    text-align: center;
}

.routine-card-title,
.challenge-card-title {
    background: #d9e6f4;
    color: #224151;
    font-size: 1.5em;
    width: 100%;
    text-align: center;
    padding: .4em 0;
    border-bottom: 2px solid #a8c4e2;
}

.routine-explainer-text {
    padding: .25rem 0 0 0;
    color: #66869e;
}

.routine-empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.empty-card {
    width: min(400px,100%);
    padding: 3rem;
    text-align: center;
    border: 2px solid #a8c4e2;
    /* border: 2px solid var(--border); */
    border-radius: 8px;
    background: #e4f0f9;
}

.routine-empty-state p {
    color: #66869e;
}

.empty-card h3 {
    margin-bottom:.75rem;
}

.empty-card p {
    margin-bottom:2rem;
}

.routine-main-button {
    background: black;
    color: #d9e6f4;
    margin: 0 auto;
    padding: .45em 1.75em;
    transition: .2s all ease;
}

.routine-main-button:hover {
    background: #4c4c4c;
}

.routine-main-button:disabled {
    background: #d9e6f4;
    color: #a7c0d8;
}

.routine-cancel-btn {
    background: none;
    border: none;
    transition: .3s all ease;
}

.routine-cancel-btn:hover {
    letter-spacing: .05em;
}

.wizard-progression-btns-wrapper {
    padding: .5em 1.25em 0 .5em;
    display: flex;
    justify-content: space-between;
}

.wizard-save-btns-wrapper {
    display: flex;
    flex-direction: column;
}

.mode-progress-section-wrapper {
    height: 3.5em;
    text-align: center;
}

.mode-progress-section-wrapper p {
    color: #66869e;
    font-weight: bold;
}

.routine-wizard-content-wrapper {
    height: 62%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: .5em .25em .5em 1em;
    overflow: auto;
    border: 2px solid #d9e6f4;
    border-radius: 8px;
    font-size: .9rem;
    line-height: 1.3em;
    color: #4c6f84;
}

.wizard-supporting-text {
    padding: .5em;
}

.wizard-inputs-wrapper {
    height: 80%;
    overflow: auto;

    scrollbar-width: thin;
    scrollbar-color: #88a1b9 transparent;
}

.routine-wizard-content-wrapper::-webkit-scrollbar {
    width: 8px;
}

.routine-wizard-content-wrapper::-webkit-scrollbar-track {
    width: 10px;
    background: transparent;
}

.routine-wizard-content-wrapper::-webkit-scrollbar-thumb {
    width: 10px;
    background: #bdcfe0;
    border-radius: 999px;
}

.wizard-input-item {
    display: flex;
    background: #e4f0f9;
    margin: .5em 1em .5em 0;
    padding: 0 0 0 2em;
    border-radius: 8px;
    border: 2px solid #a8c4e2;
}

.mode-radio-descriptions-wrapper {
    padding: .25em 0 .75em 2em;
}

.mode-radio-title,
.suggested-radio-title {
    color: #000000;
    padding: .4em 0;
    font-size: 1rem;
}

.mode-radio-decription,
.suggested-radio-decription {
    font-size: .8rem;
    line-height: 1rem;
}

.suggested-radio-title {
    padding-top: 1em;
}

.suggested-radio-decription  {
    padding-bottom: 1em;
}

.radio-learn-more {
    text-decoration: underline;
    cursor: pointer;
}

.live-editor-list-and-labels-container {
    width: 100%;
    height: 70%;
    display: flex;
    margin: 1em 0 0 0;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.preview-light {
    color: #628191;
}

.preview-dark {
    color: black;
}

.live-editor-labels-container,
.todays-challenge-labels-container {
    display: flex;
    width: 82%;
    margin: 0 auto;
    color: #628191;
}

.live-editor-label-right {
    margin: 0 1.25rem 0 auto;
}

.todays-challenge-label-right {
    margin: 0 2.5% 0 auto;
}

.live-editor-content-wrapper,
.preview-content-wrapper,
.todays-challenge-content-wrapper {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: .15em auto 0 auto;
    padding: 0 .25em 0 .5em;
    overflow-y: auto;
    border-radius: 8px;
    font-size: .9rem;
    line-height: 1.3em;
    color: #4c6f84;
    scrollbar-gutter: stable;
}

.todays-challenge-content-wrapper {
   height: 100%;
}

.preview-content-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.preview-list-and-labels-wrapper {
    overflow: hidden;
}

.exercise-preview-item {
    margin: 0 auto;
    padding: .75em 0;
    border-top: 2px solid #bfd3ec;
    width: 85%;
    display: flex;
    justify-content: space-between;
    
}

.clickable-exercise-item {
    opacity: 0;
    transform: scale(.95);
    animation: fadeIn .5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.exercise-item-container {
    display: flex;
}

.drag-icon-container {
    width: 1.5em;
    margin: auto .25em;
    cursor: pointer;
}

.exercise-button {
    background: #cddcef;
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-radius: 5px;
    margin: .18em;
    border: 2px solid #cbdcef;
    transition: .35s all ease;
}

.todays-challenge-content-wrapper .exercise-button {
    width: 90%;
    margin: .18em .18em .18em 5%;
}

.exercise-button > :first-child,
.exercise-button > :nth-child(2) {
    padding: .75em 0;
}

.exercise-btn-arrow {
    width: .8em;
    display: inline;
    margin: 0 .5em 0 0;
    transform: rotate(360deg) translateY(-.1em);
    transition: all .25s ease;
}

.exercise-btn-arrow.rotated {
    transform: rotate(180deg) translateY(.1em);
}

.exercise-button:hover {
    background: #aebed2;
}

.set-exercise-button {
    background: #e4f0f9;
    border: 2px solid #a8c4e2;
}

.set-exercise-button:hover {
    background: #d4e1ec;
}

.rate-trash-container {
    display: flex;
    height: 100%;
}

.rate-container {
    margin: auto .5em auto 0;
}

.rate-supporting-text {
    color: #628191;
}

.not-set-container {
    margin: auto .5em auto 0;
    color: #628191;
}

.trash-icon-container {
    margin: auto;
}

.trash-icon {
    width: 1em;
    display: inline-block;
    transform: translateY(.1em);
    transition: transform .35s ease;
}

.trash-icon:hover {
    transform: scale(1.5);
}

.not-set-container + .trash-icon-container {
    opacity: 0;
}

.exercise-button:hover .trash-icon-container {
    opacity: 1;
}

.exercise-inputs-wrapper {
    width: 81%;
    max-height: 0px;
    padding: 0 0 0 1em;
    opacity: 1;
    overflow: hidden;
    border-left: 2px solid #d9e6f4;
    transition: all .25s ease;
    margin: 0 auto;
}

.exercise-inputs-wrapper.expanded {
    max-height: 300px;
    opacity: 1;
    margin: 1em auto;
}

.second-row-inputs-wrapper {
    display: flex;
    margin: .4em 0 0 0;
}

.expanded-input-label {
    display: block;
    color: #66869e;
}

.expanded-input {
    background: #d9e6f4;
    border: 1px solid #a8c4e2;
    height: 1.75em;
    padding: 0 0 0 .5em;
}

.progression-rate-input-wrapper {
    margin: 0 0 0 2em;
}

.progression-rate-input {
    width: 5em;
}

.add-exercise-btn {
    padding: .5em;
    width: 84%;
    margin: auto;
}

.text-small {
  font-size: .85rem;
}

/* today's challenge styles */

.lvl-display-wrapper {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;
}

.mode-display {
    text-align: right;
    padding: 0 1rem 0 0;
    font-size: .75rem;
    color: #9a9a9a;
}

.challenge-lvl-txt {
    line-height: 1rem;
    color: #66869e;
}

.challenge-number-txt {
    font-size: 3rem;
    line-height: 2.5rem;
}

.challenge-inputs-box-wrapper {
    width: 82%;
    opacity: 1;
    transition: all .25s ease;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    border: 1px solid #bdcfe0;
    border-radius: 6px;
    transition: height 1s ease;
}

.challenge-inputs-box-wrapper.expanded {
    opacity: 1;
    margin: 1em auto;
    max-height: auto;
}

.challenge-inputs-top-flex-container {
    display: flex;
    padding: .75rem 1rem;
    background: #e4f0f9;
}

.challenge-label {
    font-size: .8rem;
    color: #596d9b;
}

.current-reps-wrapper {
    padding: 0 1rem 0 0;
}

.expanded-current-reps {
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: bold;
    color: black;
}

.expanded-current-text {
    font-size: 1.1rem;
}

.previous-sets-wrapper {
    padding: 0 0 0 1rem;
    border-left: 1px solid #d6e2ed;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.previous-sets-list-wrapper {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .25rem;
    width: 100%;
    overflow-Y: auto;
}

.previous-sets-list-item {
    font-size: .65rem;
    background: #bed7ed;
    border: 1px solid #a8c4e2;
    border-radius: 999px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    margin: auto 0;
}

.previous-sets-list-wrapper.multi-row
.previous-sets-list-item {
    height: 90%;
    margin: .25em 0 0 0;
}

.exercise-progress-bar-container {
    height: 4px;
    width: 100%;
    margin: 0 auto;
    background: #d32222;
    border-radius: 8px;
}

.exercise-progress-bar {
    background: #75c64f;
    width: 50%;
    height: 100%;
    border-radius: 0 8px 8px 0;
}

.challenge-inputs-box-bottom {
    padding: .75rem 1rem;
}

.quick-add-wrapper {
    border-bottom: 1px solid #d6e2ed;
    padding-bottom: .4rem;
    margin: 0 0 .5rem 0;
}

.quick-add-row {
    display: flex;
    align-items: flex-end;
}

.quick-add-buttons {
    flex: 1;
    display: grid;
    grid-template-columns:repeat(6,1fr);
    gap: .5rem;
    padding: 0 .65rem .5rem 0;
}

.quick-add-item {
    width: 100%;
    color: #596d9b;
    border: 1px solid #596d9b;
    background: #f0faff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: .1rem 0;
}

.remainder-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #d6e2ed;
    padding: 0 0 .5rem .65rem;
}

.remainder-label {
    font-size: .62rem;
    margin-bottom: .3rem;
    text-align: center;
    line-height: .62rem;
    height: .2rem;
    transform: translateY(-150%)
}

.remainder-button {
    width: 100%;
    background: #e4f0f9;
}

.custom-input-container {
    padding: .35rem 0 0 0;
    display: flex;
    align-items: center;
}

#custom-input {
    padding: .2rem .5rem;
    width: 25%;
    border-radius: 4px;
    border: 1px solid #7d9ac9;
}

#custom-input::placeholder {
    color: #9e9e9e;
}

.custom-reps-btn {
    background: #5973a5;
    color: white;
    font-size: .8rem;
    border-radius: 3px;
    margin: 0 0 0 .5rem;
    border: none;
    padding: .2rem 1rem;
}

.challenge-save-btns-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;
}

/* error styles */

.error-message-container {
    color: #cd1f1f;
    text-align: center;
    position: absolute;
    transform: translateY(-100%);
    margin: 0 10%;
}